<!DOCTYPE html>
<html>
<head>
  <title>PyCord</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div id="app-container">
    <div id="server-list">
      <h3>Servers</h3>
      <ul id="servers"></ul>
      <form id="create-server-form">
        <input id="serverName" autocomplete="off" placeholder="New Server Name" /><button>Create</button>
      </form>
    </div>
    <div id="channel-list">
      <h3>Channels</h3>
      <ul id="channels"></ul>
    </div>
    <div id="chat-container">
      <ul id="messages"></ul>
      <form id="message-form" action="">
        <input id="myMessage" autocomplete="off" /><button>Send</button>
        <input type="file" id="imageFile" accept="image/*" />
        <button type="button" id="sendImage">Send Image</button>
      </form>
      <div id="emoji-picker">
        <button type="button" class="emoji">😊</button>
        <button type="button" class="emoji">😂</button>
        <button type="button" class="emoji">❤️</button>
        <button type="button" class="emoji">👍</button>
      </div>
    </div>
  </div>

  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <script>
    var socket = io();

    var username = prompt("Please enter your username:");
    socket.emit('setUsername', username);

    document.getElementById('create-server-form').onsubmit = function(e) {
      e.preventDefault();
      var input = document.getElementById('serverName');
      if (input.value) {
        socket.emit('create_server', input.value);
        input.value = '';
      }
    };

    socket.on('server_list', function(servers) {
      var serversUl = document.getElementById('servers');
      serversUl.innerHTML = '';
      servers.forEach(function(server) {
        var li = document.createElement("li");
        li.innerText = server.name;
        li.dataset.serverId = server.id;
        li.onclick = function() {
          socket.emit('get_channels', this.dataset.serverId);
        };
        serversUl.appendChild(li);
      });
    });

    socket.on('channel_list', function(channels) {
      var channelsUl = document.getElementById('channels');
      channelsUl.innerHTML = '';
      channels.forEach(function(channel) {
        var li = document.createElement("li");
        li.innerText = channel.name;
        li.dataset.channelId = channel.id;
        li.onclick = function() {
          socket.emit('join_channel', this.dataset.channelId);
        };
        channelsUl.appendChild(li);
      });
    });

    document.getElementById('message-form').onsubmit = function(e) {
      e.preventDefault();
      var input = document.getElementById('myMessage');
      if (input.value) {
        socket.send(input.value);
        input.value = '';
      }
    };

    document.getElementById('sendImage').onclick = function() {
      var fileInput = document.getElementById('imageFile');
      var file = fileInput.files[0];
      if (file) {
        var reader = new FileReader();
        reader.onload = function(e) {
          socket.emit('image', e.target.result);
        };
        reader.readAsArrayBuffer(file);
        fileInput.value = '';
      }
    };

    document.querySelectorAll('.emoji').forEach(function(button) {
      button.onclick = function() {
        var input = document.getElementById('myMessage');
        input.value += this.innerText;
        input.focus();
      };
    });

    function addMessage(data) {
      var li = document.createElement("li");
      if (data.is_image) {
        li.innerHTML = data.user + ': <img src="' + data.message + '" style="max-width: 300px;">';
      } else {
        li.innerText = data.user + ": " + data.message;
      }
      document.getElementById("messages").appendChild(li);
    }

    socket.on('history', function(messages) {
      var messagesUl = document.getElementById('messages');
      messagesUl.innerHTML = ''; // Clear old messages
      messages.forEach(function(data) {
        addMessage(data);
      });
    });

    socket.on("message", function(data) {
      addMessage(data);
    });
  </script>
</body>
</html>
